/* Sidebar Container */
.sidebar {
  width: 100%;
  border-radius: inherit;
  background-color: inherit;
  color: #fff;
  padding: 10px;
  transition: width 0.3s; /* Add a transition effect to the width */
}


/* Sidebar List */
.sidebar-list {
  list-style: none;
  padding: 10px;
}

/* Sidebar List Item */
.sidebar-list-item {
  margin-left: 10px;
  color: #6c757d;
  padding:10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Hover Effect for Sidebar List Items */
.sidebar-list-item:hover {
  color: #fff; /* Background color on hover */
}

/* Selected Sidebar List Item */
.sidebar-list-select {
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  background-color: inherit;
  color: #fff;
  transition: background-color 0.3s;
}
