.head-container {
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: green;
    height: 75px;
    width: 96%;
    margin-top: 20px;
}
.left-container {
    display: flex;
    flex-direction: column;
    width:270px;
    height:100vh;
    background-color: inherit;
    align-items: center;
}
.body-container{
    display:flex;
    flex-direction: column;
    flex: 1;
    height:100%;
    background-color: aquamarine;
    align-items: center;
}
.right-container{
    display: flex;
    flex-direction: column;
    background-color: inherit;
    width: 60px;
    height:100%;
    align-items: center;
}
.logo-container {
    display:flex;
    margin-top: 20px;
    justify-content: center; /* Center horizontally */
    align-items: center;
    background-color: inherit;
    width: 95%;
    height: 75px;
    align-items: center;
    border-radius: 10px;
}
.profile {
    position: absolute;
    background-color: inherit;
    margin-top: 10px;

}
.nav {
    position: absolute;

}

.sidebar-container{
    position: relative;
    margin-top: 50px;
    width: 90%; /* Set the width of the sidebar */
    height: 75%;
    background-color: #121212; /* Background color for the sidebar */
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.feed-container {
    position: relative;
    /* margin-top: 10%; */
    margin-top: 50px;
    width: 96%;
    height: 75%;
    background-color: #121212; /* Background color for the sidebar */
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}


.div {
    display:flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    background-color: #0a0908;
}